@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: white;
    background-color: hsl(0, 0%, 8%);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 12%);
    width: 360px;
    height: 550px;
    border-radius: 10px;
    padding: 10px;
}

img {
    border-radius: 50%;
    width: 85px;
    height: auto;
}

.name {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0px;
}

address {
    font-weight: 600;
    color: hsl(75, 93%, 71%);
    margin-top: 5px;
    font-style: normal;
}

li{
    font-weight: 700;
    background-color: hsl(0, 0%, 20%);
    border-radius: 7px;
    margin: 8px 0;
    width: 315px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

li:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 385px) {
    .box {
        width: 300px;
    }
    .links {
        width: 275px;
    }
}
